body{
    background:url('calcImage.jpg');
}
.box{
    margin-left: 600px;
    margin-top: 80px;
    background-color: rgb(24, 218, 182);
    border-radius: 50px;
    width: 330px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.displaydesign{

    width: 300px;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
    background-color: rgb(24, 218, 182);
    font-weight: 700;
    text-align: right;
    height: 100px;
    font-size: 30px;
    color: rgb(252, 249, 249);
    float: right;
    border: none;
    padding-right:20px ;
}
.buttondesign{
    width: 50px;
    height: 50px;
    background: rgb(252, 249, 249);
    font-weight: 700;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px 5px 5px 20px;
    outline: none;
    font-size: 15px;
}
.buttondesign#plus
{
    background-color: rgb(199, 76, 123);
}
.buttondesign#minus
{
    background-color: rgb(241, 231, 89);
}
.buttondesign#multiply
{
    background-color: rgb(199, 76, 123);
}
.buttondesign#divide
{
    background-color: rgb(252, 192, 82);
}
.buttondesign#equals
{
    background-color: rgb(73, 70, 235);
}
.buttondesign#percent
{
    background-color: rgb(73, 70, 235);
}